.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.sidebar{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.back{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    color: black;
    width: 100px;
    padding: 2px;
    border-radius: 5px;
    background-color:rgb(203, 253, 255);

}

.inputbox{
    padding: 2px;
    border-radius: 5px;
    color: black;
    margin: 5px;
}

.box{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width:300px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.sum{
    padding: 5px;
    /* border: solid 1px rgb(203, 253, 255) ; */
}
.box:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.titlebox{
    height: 100px;
    background-color:rgb(203, 253, 255) ;
    color: rgb(0, 102, 133);
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}
.author{
    display: flex;
    justify-content: space-between;
    background-color:rgb(203, 253, 255) ;
    color: rgb(0, 102, 133);
    font-weight: 500;
    border-radius: 0 0 10px 10px;
    padding: 5px;
}